.popup__content {
   position: relative;
   padding: 34px 36px 37px;
   margin: 195px auto 0;
   max-width: 430px;
   max-height: 330px;
   width: 100%;
   background-color: #ffffff;
   box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
   border-radius: 10px;
   box-sizing: border-box;
}
@media screen and (max-width: 767px) {
   .popup__content {
      width: 282px;
      max-height: 322px;
      padding: 25px 22px;
      margin-top: 123px;
   }
}
